/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

 :root {
  --drawer-background: var(--md-sys-color-surface);
  --drawer-background-color-contrast: var(--md-sys-color-on-surface);
  --drawer-backdrop-color: var(--md-ref-palette-neutral-0);
  --drawer-backdrop-z-index: 1200;
}

body[class*='darkmode'] {
  --drawer-background: var(--md-sys-color-surface-dark);
  --drawer-background-color-contrast: var(--md-sys-color-on-surface-dark);
}

body[class*='lightmode'] {
  --drawer-background: var(--md-sys-color-surface-light);
  --drawer-background-color-contrast: var(--md-sys-color-on-surface-light);
}

 [data-component='backdrop:drawer'] {
  display: none;
  z-index: var(--drawer-backdrop-z-index);
  background-color: var(--drawer-backdrop-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  opacity: 0;
  transition: all ease 900ms;
}

[data-component='backdrop:drawer'][data-visible='true'] {
  display: block;
  position: fixed;
  opacity: 0.6;
}

[data-component='drawer'] {
  display: block;
  z-index: var(--drawer-backdrop-z-index);
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  height:auto;
  width: 0px;
  opacity: 0;
  background-color: var(--drawer-background);
  transition: all ease 700ms;
}

[data-component='drawer'][data-visible='true'] {
  position: absolute;
  overflow: hidden;
  width: 360px;
  opacity: 1;
  padding-bottom: 2rem;
}
