# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
analyze
coverage
node_modules
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json
excluded

# build
dist

# misc
.DS_Store
.env.local
.env

caroading
packages/tools/kli/bin/skeleton.json
packages/libraries/skeleton.json
packages/tools/kli/dev/klidev.js
packages/tools/kli/dev/klidev
**/skeleton.json
packages/components/skeleton.json
packages/libraries/skeleton-nomf.json
docs
