/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

 button {
  transition: all 250ms ease-in-out;
  padding: 0 16px;
  height: 40px;
  border-radius: 10px;
 }
 
.filled {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  box-shadow: var(--md-sys-color-shadow);
  font-size: var(--md-sys-typescale-label-large-size);
  font-weight: var(--md-sys-typescale-label-large-weight);
  font-family: var(--md-sys-typescale-label-large-family);
}

.filled:hover {
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-on-primary);
  opacity: var(--md-sys-state-hover-state-layer-opacity);
  cursor: pointer;
}

.filled:disabled {
  background-color: var(--md-sys-color-on-surface);
  opacity: 12%;
  color: var(--md-sys-color-on-surface);
  opacity: 38%;
}

/* .filled:focus {
  background-color: var(--md-sys-color-primary);
  opacity: var(--md-sys-state-focus-state-layer-opacity);
  color: var(--md-sys-color-on-primary);
} */

.outlined {
  outline-color: var(--md-sys-color-outline);
  color: var(--md-sys-color-primary);
  font-size: var(--md-sys-typescale-label-large-size);
  font-family: var(--md-sys-typescale-label-large-family);
  font-weight: var(--md-sys-typescale-label-large-weight);
}
.outlined:hover {
  outline-color: var(--md-sys-color-on-outline);
  color: var(--md-sys-color-on-primary);
  opacity: var(--md-sys-state-hover-state-layer-opacity);
  cursor: pointer;
}
