/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import 'typography.css';
@import 'button.css';

:root {
  --color-primary: blue;

  --text-primary: white;
  --text-primary-contrast: black;

  --color-primary-background: black;
  --color-primary-background-60: rgba(0, 0, 0, 0.9);

  --color-primary-contrast-background: white;

  --color-invariant: white;

  --z-dialog: 1200;
  --z-drawer: 1000;
  --z-backdrop: 500;
  --z-control-icon: 250;
  --opacity-backdrop: 0.7;
  --font-family: 'Orbitron', sans-serif;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: var(--color-primary-background);
}
