/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

th {
  font-size: var(--subtitle1-size);
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  color: var(--text-primary);
}

th,
td {
  text-align: left;
  padding: 16px;
}

td {
  cursor: pointer;
}

div.paginatorContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem;
}

span[data-tag*='paginatorItem']:hover {
  cursor: pointer;
}

span.paginatorItem {
  flex: 0 0;
  padding: 0.35rem 0.75rem;
}

span.paginatorItemActive {
  border: 1px solid var(--color-primary);
  padding: 0.35rem 0.75rem;
}
