/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import url('theme/variables.css');

:root {
  --chip-border-color: var(--md-sys-color-outline);
  --chip-border-radius: 5px;
  --chip-text-color: var(--md-sys-color-on-surface-variant);
}

body[class*='darkmode'] {
  --chip-border-color: var(--md-sys-color-outline-dark);
  --chip-text-color: var(--md-sys-color-on-surface-variant-dark);
}

body[class*='lightmode'] {
  --chip-border-color: var(--md-sys-color-outline-light);
  --chip-text-color: var(--md-sys-color-on-surface-variant-light);
}

.chipStyle {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--chip-text-color);
  padding: 0.2rem 0 0.2rem 0.5rem;
  border-radius: var(--chip-border-radius);
  font-size: var(--body2-size);
  border: 1px solid var(--chip-border-color);
}

.delete {
  background-color: transparent !important;
  margin-left: .5rem;
  margin-top: .3rem;
}
