/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import 'typography.css';
@import 'theme/variables.css';

:root {
  --color-primary: var(--md-sys-color-primary);
  --text-primary: var(--md-sys-color-on-primary);
  --text-primary-contrast: var(--md-sys-color-primary);
  --color-primary-background: var(--md-sys-color-background);
  --color-primary-contrast-background: --md-sys-color-on-background;
  --color-invariant: var(--md-ref-palette-neutral-100);
  --color-invariant-90: var(--md-ref-palette-neutral-90);
  --color-invariant-contrast: var(--md-ref-palette-neutral-0);
  --z-dialog: 1200;
  --z-drawer: 1000;
  --z-backdrop: 500;
  --z-control-icon: 250;
  --opacity-backdrop: 0.7;
  --font-family: 'Orbitron', sans-serif;

  --contact-details-header-background-color: var(--md-sys-color-on-background);
}

body[class*='darkmode'] {
  --color-primary: var(--md-sys-color-primary-dark);
  --text-primary: var(--md-sys-color-on-primary-dark);
  --text-primary-contrast: var(--md-sys-color-primary-dark);
  --color-primary-background: var(--md-sys-color-background-dark);
  --color-primary-contrast-background: var(--md-sys-color-on-background-dark);
}

body[class*='lightmode'] {
  --color-primary: var(--md-sys-color-primary-light);
  --text-primary: var(--md-sys-color-on-background-light);
  --text-primary-contrast: var(--md-sys-color-primary-light);
  --color-primary-background: var(--md-sys-color-background-light);
  --color-primary-contrast-background: var(--md-sys-color-on-background-light);
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: var(--color-primary-background);
  overflow-x: hidden;
}
