/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('theme/variables.css');

:root {
  --inputtext-background: var(--md-sys-color-background);
  --inputtext-before-color: var(--md-sys-color-on-background);
  --inputtext-background-color-contrast: var(--md-sys-color-on-background);
  --inputtext-focus-within: var(--md-sys-color-primary);
  --inputtext-font-size: var(--md-sys-typescale-body-medium-size);
}

body[class*='darkmode'] {
  --inputtext-background: var(--md-sys-color-background-dark);
  --inputtext-before-color: var(--md-sys-color-on-background-dark);
  --inputtext-background-color-contrast: var(--md-sys-color-on-background-dark);
  --inputtext-focus-within: var(--md-sys-color-primary-dark);
}

body[class*='lightmode'] {
  --inputtext-background: var(--md-sys-color-background-light);
  --inputtext-before-color: var(--md-sys-color-on-background-light);
  --inputtext-background-color-contrast: var(
    --md-sys-color-on-background-light
  );
  --inputtext-focus-within: var(--md-sys-color-primary-light);
}

.inputtext {
  background-color: var(--inputtext-background);
  color: var(--inputtext-background-color-contrast);
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px var(--inputtext-background-color-contrast) solid;
  flex: 1;
}

.inputtext.inverse,
.inputtext.inverse > input
 {
  background-color: var(--inputtext-background-color-contrast);
  color: var(--inputtext-background);
}

.inputtext > input {
  background-color: var(--inputtext-background);
  color: var(--inputtext-background-color-contrast);
  border: 0px;
  outline: none;
  font-size: var(--inputtext-font-size);
  margin: 0 0.35rem;
}

.inputtext:focus-within {
  border: 2px var(--inputtext-focus-within) solid;
  font-weight: bold;
}

fieldset.inputtext {
  margin: 0.35rem 0;
  flex: 1;
}

legend.inputtextLegend {
  text-align: left;
}

.inputtextArea {
  resize: none;
  outline: 0px;
  border-width: 0px;
}



.inputtext > svg,
.inputtext > button {
  color: var(--inputtext-background-color-contrast);
}

.inputtext:focus-within > legend,
.inputtext:focus-within > svg,
.inputtext:focus-within > button {
  color: var(--inputtext-focus-within);
}
