/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

:root {
  --colors-primary: blue;

  --text-primary: rgb(145, 145, 145);
  --text-contrast: rgb(112, 112, 112);
  --text-error: red;

  --background-contrast: rgb(255, 255, 255);

  --input-text-background-contrast: transparent;

  --button-background-primary: transparent;
  --button-background-secondary: green;
}

[data-style*='input:text:container'] {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  background-color: transparent;
  padding: 0.5rem;
  border: 0;
}

[data-style*='input:text:button:copy'],
[data-style*='input:text:button:removeable'] {
  background-color: transparent;
  color: var(--text-primary);
  border: 0;
}

[data-style*='input:text:control'] {
  padding: 0.35rem;
}

[data-style*='input:text:label'] ,
[data-style*='input:text:control'] {
  margin: 0 0.5rem;
}

[data-style*='input:text:prefix'] {
  padding: 0.5rem;
}

[data-style*='input:text:label'] {
  display: block;
  margin-top: 0.35rem;
  color: transparent;
}

input:invalid~label {
  color: red;
}

