/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

/**
* Toolbar
*/

.rootContainer {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  gap: 1rem;
}

[data-style*='filter:container:root'],
[data-style*='search:container:root'],
[data-style*='create:container:root'] {
  padding: 1rem 0;
}

[data-style*='search:container:root'] {
  flex: 2;
}

[data-style*='filter:container:root'] {
  flex: 1;
  text-align: center;
}

.subCategoryBadgeActive > * {
  margin-left: 0.5rem;
  color: var(--colors-contrast);
  background: var(--colors-primary);
}

.subCategoryBadge > * {
  margin-left: 0.5rem;
  color: var(--invariant-primary);
  background: var(--text-primary);
}
