/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

/**
* Toolbar
*/

.rootContainer {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  gap: 1rem;
}

[data-style*='filter:container:root'],
[data-style*='search:container:root'],
[data-style*='create:container:root'] {
  padding: 1rem 0;
}

.searchContainer {
  display: flex;
}

.searchInput {
  font-family: var(--font-family);
}

.searchIcon {
  width: 28px;
  height: 28px;
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid;
  padding: 0.5rem 1rem;
}

.baseButton {
  display: flex;
  background-color: var(--color-primary-background);
  color: var(--text-primary);
  padding: 0.75rem;
  border: 1px solid;
  font-size: var(--subtitle1-size);
}

[data-style*='search:container:root'] {
  flex: 0;
}

[data-style*='filter:container:root'] {
  flex: 1;
  text-align: center;
}

[data-tag='contact'][data-style*='search:container:control'] {
  padding: 0.5rem;
  min-width: 300px;
  font-size: var(--subtitle1-size);
}

.subCategoryBadgeActive > * {
  margin-left: 0.5rem;
  color: var(--text-primary-contrast);
  background: var(--color-primary-contrast-background);
}

.subCategoryBadge > * {
  margin-left: 0.5rem;
  color: var(--invariant-primary);
  background: var(--text-primary);
}
