/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

 [data-component='backdrop'] {
  display: none;
  position: fixed;
  z-index: var(--z-backdrop);
  background-color: var(--color-primary-contrast-background);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all ease 900ms;
}

[data-component='backdrop'][data-visible='true'] {
  display: block;
  opacity: 0.6;
}

[data-component='dialog'] {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  height: 0vh;
  width: 0px;
  opacity: 0;
  background-color: var(--color-primary-contrast-background);
  transition: all ease 400ms;
  overflow: hidden;
}

[data-component='dialog'][data-visible='true'] {
  opacity: 1;
  height: 50vh;
  width: 30vw;
  z-index: var(--z-dialog);
  top: 25%;
  right: calc(70vw / 2);
}
