body {
  padding: 0 !important;
}

header {
  height: 64px!important;
  position: fixed!important;
  background: var(--colors-primary) !important;
  width: 100vw!important;
  padding: 0!important;
  margin: 0!important;
  z-index: 999!important;
}
