/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

 .responsive {
  display: none;
}

@media only screen and (min-width: 1px) {
  .responsive.mobile {
    display: inherit;
  }
}

@media only screen and (min-width: 480px) {
  .responsive.tablet {
    display: inherit;
  }
}

@media only screen and (min-width: 768px) {
  .laptop {
    display: inherit;
  }
}

@media only screen and (min-width: 1024px) {
  .responsive.desktop {
    display: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .responsive.uhd {
    display: inherit;
  }
}
