/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import url('/integration/antd.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
  margin: 0;
  padding: 1rem;
  overflow-x: hidden !important;
  font-family: 'Orbitron', sans-serif;
  background-color: var(--background-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0 !important;
  margin-bottom: 0.35rem !important;
  text-align: left;
}

h1 {
  color: var(--text-primary) !important;
  font-size: 3rem !important;
}

h1.invariant {
  color: var(--invariant-primary) !important;
}

h2 {
  color: var(--text-secondary) !important;
  font-size: 2rem !important;
}

h2.invariant {
  color: var(--invariant-primary) !important;
}

h3 {
  color: var(--text-secondary) !important;
  font-size: 1.5rem !important;
}

h3.invariant {
  color: var(--invariant-primary) !important;
}

h4 {
  color: var(--text-secondary) !important;
  font-size: 1.25rem !important;
}

h4.invariant {
  color: var(--invariant-primary) !important;
}

h5 {
  color: var(--text-secondary) !important;
  font-size: 1rem !important;
}

h5.invariant {
  color: var(--invariant-primary) !important;
}

a {
  color: var(--colors-primary) !important;
  text-decoration: none;
}

button[class*='primary'] {
  color: var(--text-primary) !important;
  background: var(--colors-primary) !important;
  border: var(--colors-primary) !important;
}
