/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

:root {
  --container-menu-background-color: var(--md-ref-palette-neutral-40);
  --container-background-color: var(--md-sys-color-background);
}

body[class*='darkmode'] {
  --container-background-color: var(--md-sys-color-background-dark);
}

body[class*='lightmode'] {
  --container-background-color: var(--md-sys-color-background-light);
}

.root {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 0;
  padding: 0;
  height: 100%;
  background-color: var(--container-background-color) !important;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--container-background-color);
}

.container {
  padding: 0 1rem;
  flex: 1;
  max-width: 1200px;
}

.section {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
}

.headerBg {
  background-color: var(--md-sys-color-background-dark);
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  height: 64px;
}

.header {
  position: fixed;
  max-width: 1200px;
  width: 100%;
}
.header > * {
  background-color: var(--md-sys-color-background-dark)!important ;
}

.side {
  width: 220px;
  background-color: var(--container-menu-background-color);
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  height: -webkit-fill-available;
}
