/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

 @import url('theme/variables.css');

:root {
  --color-primary-background: var(--md-sys-color-background);
  --subtitle1-size: var(--md-sys-typescale-title-small-size);
  --color-primary-contrast-background: var(--md-sys-color-on-background);
  --text-primary: white;
  --text-primary-contrast: black;
}

body[class*='darkmode'] {
  --color-primary-background: var(--md-sys-color-background-dark);
  --color-primary-contrast-background: var(--md-sys-color-on-background-dark);
  --text-primary: white;
  --text-primary-contrast: black;
}

body[class*='lightmode'] {
  --color-primary-background: var(--md-sys-color-background-light);
  --color-primary-contrast-background: var(--md-sys-color-on-background-light);
  --text-primary: white;
  --text-primary-contrast: black;
}

.toggleContainer {
  display: flex;
}

.baseToggle {
  display: flex;
  background-color: var(--color-primary-background);
  color: var(--text-primary);
  padding: 0.75rem;
  border: 1px solid;
  font-size: var(--subtitle1-size);
}

.baseToggleActive {
  background-color: var(--color-primary-contrast-background);
  color: var(--text-primary-contrast);
  font-size: var(--subtitle1-size);
}
