/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

 .toggleContainer {
   display: flex;
 }

.baseToggle {
  display: flex;
  background-color: var(--color-primary-background);
  color: var(--text-primary);
  padding: 0.75rem;
  border: 1px solid;
  font-size: var(--subtitle1-size);
}

.baseToggleActive {
  background-color: var(--color-primary-contrast-background);
  color: var(--text-primary-contrast);
  font-size: var(--subtitle1-size);
}

