/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

.header {
  height: 300px;
  background-color: var(--color-primary-background-60);
  display: flex;
  align-items: center;
  jusitfy-content: center;
}

.headerContent {
  flex: 1 1 auto;
  text-align: center;
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.listTitle {
  margin: 0;
}

textarea {
  resize: none;
  width: 100%;
}

[data-style*='input:text:control'][name='name'],
[data-style*='input:text:control'][name='email'] {
  text-align: center;
  background: transparent;
  border: 0;
  color: var(--color-invariant);
}
[data-style*='input:text:control'][name='name'] {
  font-size: var(--h5-size);
}
[data-style*='input:text:control'][name='email'] {
  font-size: var(--h6-size);
}

input[data-style*='input:text:control']{
  width: 100%;
  color: var(--text-primary-contrast);
}

textarea,
h6,
[data-style='input:text:button:add'] {
  color: var(--text-primary-contrast);
}
