/*
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

.root {
  display: flex;
}

.header {
  display: flex;
  margin: 0.35rem 0;
}

.list {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.box {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 20px;
}

[data-style*='input:text:control'] {
  width: 100%;
  color: var(--text-primary-contrast);
  position: absolute;
  border: 1px solid black;
}

button[data-style*='input:text:button:add'] {
  color: var(--text-primary-contrast);
  position: relative;
  /* left: 208px;
  bottom: 2px; */
}

button:hover {
  cursor: pointer;
}
