:root {
  --md-sys-color-primary: black;
  --md-sys-color-on-primary: white;
  --md-sys-color-secondary: #646464;
  --md-sys-color-on-secondary: white;
  --md-sys-color-tertiary: #8f8f8f;
  --md-sys-color-on-tertiary: white;
  --md-sys-color-background: #fdfcff;
  --md-sys-color-on-background: #1b1b1b;
  --md-sys-color-primary-light: black;
  --md-sys-color-on-primary-light: white;
  --md-sys-color-secondary-light: #646464;
  --md-sys-color-on-secondary-light: white;
  --md-sys-color-tertiary-light: #8f8f8f;
  --md-sys-color-on-tertiary-light: white;
  --md-sys-color-background-light: #fdfcff;
  --md-sys-color-on-background-light: #1b1b1b;
  --md-sys-color-primary-dark: white;
  --md-sys-color-on-primary-dark: black;
  --md-sys-color-secondary-dark: #cfcfcf;
  --md-sys-color-on-secondary-dark: black;
  --md-sys-color-tertiary-dark: #aaaaaa;
  --md-sys-color-on-tertiary-dark: black;
  --md-sys-color-background-dark: #1b1b1b;
  --md-sys-color-on-background-dark: #e3e2e6;
  --md-ref-palette-primary-100: #ffffff;
  --md-ref-palette-primary-99: #fdfcff;
  --md-ref-palette-primary-95: #e9f1ff;
  --md-ref-palette-primary-90: #d2e4ff;
  --md-ref-palette-primary-80: #9fc9ff;
  --md-ref-palette-primary-70: #6faefa;
  --md-ref-palette-primary-60: #5293de;
  --md-ref-palette-primary-50: #3379c2;
  --md-ref-palette-primary-40: #0460a7;
  --md-ref-palette-primary-30: #004883;
  --md-ref-palette-primary-20: #00315c;
  --md-ref-palette-primary-10: #001c39;
  --md-ref-palette-primary-0: #000000;
  --md-ref-palette-secondary-100: #ffffff;
  --md-ref-palette-secondary-99: #fdfcff;
  --md-ref-palette-secondary-95: #e9f1ff;
  --md-ref-palette-secondary-90: #d7e3f8;
  --md-ref-palette-secondary-80: #bbc7db;
  --md-ref-palette-secondary-70: #a0acc0;
  --md-ref-palette-secondary-60: #8591a4;
  --md-ref-palette-secondary-50: #6c788a;
  --md-ref-palette-secondary-40: #545f70;
  --md-ref-palette-secondary-30: #3c4758;
  --md-ref-palette-secondary-20: #263140;
  --md-ref-palette-secondary-10: #111c2b;
  --md-ref-palette-secondary-0: #000000;
  --md-ref-palette-tertiary-100: #ffffff;
  --md-ref-palette-tertiary-99: #fcfcfc;
  --md-ref-palette-tertiary-95: #fdebff;
  --md-ref-palette-tertiary-90: #f5d9ff;
  --md-ref-palette-tertiary-80: #d8bde3;
  --md-ref-palette-tertiary-70: #bca3c7;
  --md-ref-palette-tertiary-60: #a088ab;
  --md-ref-palette-tertiary-50: #866f91;
  --md-ref-palette-tertiary-40: #6c5677;
  --md-ref-palette-tertiary-30: #543f5f;
  --md-ref-palette-tertiary-20: #3c2947;
  --md-ref-palette-tertiary-10: #261431;
  --md-ref-palette-tertiary-0: #000000;
  --md-ref-palette-neutral-100: #ffffff;
  --md-ref-palette-neutral-99: #fdfcff;
  --md-ref-palette-neutral-95: #f1f0f4;
  --md-ref-palette-neutral-90: #e3e2e6;
  --md-ref-palette-neutral-80: #c6c6ca;
  --md-ref-palette-neutral-70: #ababaf;
  --md-ref-palette-neutral-60: #909094;
  --md-ref-palette-neutral-50: #76777a;
  --md-ref-palette-neutral-40: #5d5e62;
  --md-ref-palette-neutral-30: #46474a;
  --md-ref-palette-neutral-20: #2f3033;
  --md-ref-palette-neutral-10: #1b1b1b;
  --md-ref-palette-neutral-0: #000000;
  --md-ref-palette-neutral-variant-100: #ffffff;
  --md-ref-palette-neutral-variant-99: #fdfcff;
  --md-ref-palette-neutral-variant-95: #edf0f9;
  --md-ref-palette-neutral-variant-90: #dfe2eb;
  --md-ref-palette-neutral-variant-80: #c3c6cf;
  --md-ref-palette-neutral-variant-70: #a7abb3;
  --md-ref-palette-neutral-variant-60: #8d9199;
  --md-ref-palette-neutral-variant-50: #73777f;
  --md-ref-palette-neutral-variant-40: #5a5e66;
  --md-ref-palette-neutral-variant-30: #43474e;
  --md-ref-palette-neutral-variant-20: #2d3137;
  --md-ref-palette-neutral-variant-10: #181c22;
  --md-ref-palette-neutral-variant-0: #000000;
}
